<style>
.btnColor{
    background-color: #19ffb6;
    border-color: #19ffb6; 
}    
#error{
        color: #ff3d3d;
    }
</style>

<div class='container'>

    <form class='mt-5' name="myForm"  novalidate>
        
        <div class="form-group col-12 " >
            <input type='tel' class="form-control"  name='phone' ng-model="phone" readonly>
        </div>

        

        <div class="form-group col-12 " >
            <input class="form-control" type='text' placeholder='Enter the amount to be paid' name='amount' ng-model="amount" required>
            <span id='error' ng-show="myForm.amount.$touched && myForm.amount.$error.required">Please enter the final amount.</span>
        </div>

        <div class="form-group col-12 " >
            <input ng-click="sendCustomer()" type='submit' 
            class="btn text-white btn-block btnColor" value="Send"
            ng-disabled=" myForm.amount.$invalid">
        </div>

    </form>    

</div>
