<style>
    .heading{
        color: #2a79e8;
    }
</style>

<div class="container">
    <blockquote class='blockquote text-center heading mt-3'><h5>sent Message</h5></blockquote>
    <div class='row'>
        <div class='col-12'>
            <input type="text" class='form-control pl-4' 
            style="border: 0px;" placeholder="Search"
            name="search" ng-model="search">
        </div>
    </div>
    
    <table class="table">
        <tbody>
            <tr ng-repeat="customer in sentcustomers | orderBy: '-name':true | filter:search ">
                <td scope="row">
                    <blockquote class='blockquote mb-0'>
                        <a class='text-dark' ui-sref='sentReceived({id:customer._id})'>{{customer.name}}</a>
                    </blockquote>
                    <p class='text-muted mb-0'>{{customer.sentAmount}}</p>
                </td>
                <td class='text-right justify-content-end'>
                    <h6 class='mb-0 mt-3'>
                        <a class='text-dark ' ui-sref='sentEdit({id:customer._id})'>Edit</a>
                    </h6>
                </td>
            </tr>
        </tbody>
    </table>
</div>
